.highlight .hll { background-color: #e6e1dc }
.highlight  { background: #222; }
.highlight .-KernBar { color: #993300; font-weight: bold; background-color: #FFFF00 } /* KernBar */
.highlight .-KernDot { color: #006600 } /* KernDot */
.highlight .-KernExclusive { color: #0033CC; font-weight: bold } /* KernExclusive */
.highlight .-KernGlobalComment { color: #BABABA } /* KernGlobalComment */
.highlight .-KernInterpretation { color: #0099CC } /* KernInterpretation */
.highlight .-KernNotes { color: #FF6600 } /* KernNotes */
.highlight .-KernTitle { color: #333300; font-weight: bold } /* KernTitle */